apiVersion: v1
kind: Secret
metadata:
  name: yelp-camp-secrets
type: Opaque
data:
  CLOUDINARY_CLOUD_NAME: ZHZ4a3U3bTZ2Cg==
  CLOUDINARY_KEY: MjI4NTQ5Nzc1OTQ1MTc4Cg==
  CLOUDINARY_SECRET: QXMwTWU4MDRfeTktRFFqVHRMQVc0aFhhOTZFCg==
  MAPBOX_TOKEN: cGsuZXlKMUlqb2lZV0prZFd4dGIybDZPVFU1TnpJaUxDSmhJam9pWTIxc05EWjNhRFZ5TUhsdGFqTnljelV6WWpkdlluaDFOU0o5Lk5ZOEpKZ29JQzlITGZRc1hja2x3ZWcK
  DB_URL: bW9uZ29kYitzcnY6Ly9hYmR1bG1vaXo5NTk3Mjptb2l6MTIzNDVAZGV2b3BzLnd5NmdtOW4ubW9uZ29kYi5uZXQveWVscGNhbXA/cmV0cnlXcml0ZXM9dHJ1ZSZ3PW1ham9yaXR5JmFwcE5hbWU9ZGV2b3BzCg==
  SECRET: ZGV2b3BzCg==

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: yelp-camp-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: yelp-camp
  template:
    metadata:
      labels:
        app: yelp-camp
    spec:
      containers:
        - name: yelp-camp-container
          image: abdulmoizzz/camp:latest
          ports:
            - containerPort: 3000
          env:
            - name: CLOUDINARY_CLOUD_NAME
              valueFrom:
                secretKeyRef:
                  name: yelp-camp-secrets
                  key: CLOUDINARY_CLOUD_NAME
            - name: CLOUDINARY_KEY
              valueFrom:
                secretKeyRef:
                  name: yelp-camp-secrets
                  key: CLOUDINARY_KEY
            - name: CLOUDINARY_SECRET
              valueFrom:
                secretKeyRef:
                  name: yelp-camp-secrets
                  key: CLOUDINARY_SECRET
            - name: MAPBOX_TOKEN
              valueFrom:
                secretKeyRef:
                  name: yelp-camp-secrets
                  key: MAPBOX_TOKEN
            - name: DB_URL
              valueFrom:
                secretKeyRef:
                  name: yelp-camp-secrets
                  key: DB_URL
            - name: SECRET
              valueFrom:
                secretKeyRef:
                  name: yelp-camp-secrets
                  key: SECRET
          livenessProbe:
            httpGet:
              path: /
              port: 3000
            initialDelaySeconds: 30
          readinessProbe:
            httpGet:
              path: /
              port: 3000
            initialDelaySeconds: 30

---
apiVersion: v1
kind: Service
metadata:
  name: yelp-camp-service
spec:
  selector:
    app: yelp-camp
  ports:
    - protocol: TCP
      port: 3000
      targetPort: 3000
  type: LoadBalancer
